force-app/main/default/flows/Initiate_eSign_Process_Nano.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Consent_to_true</name>
        <label>Assign Consent to true</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_current_Record.axisltd_Esign_Consent_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Esign_Consent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Proceed_For_Esign</name>
        <label>Validate &amp; Proceed For Esign</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Initiate_eSign_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Disbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Validation_Screen</targetReference>
            </connector>
            <label>Stage Validation</label>
        </rules>
        <rules>
            <name>Not_A_Sales_User</name>
            <conditionLogic>NOT(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis Sales Manager Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OtherThanSalesPersona</targetReference>
            </connector>
            <label>Not A Sales User?</label>
        </rules>
        <rules>
            <name>Consent_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.axisltd_Esign_Consent_Taken__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Esign_Consent_Screen</targetReference>
            </connector>
            <label>Consent Provided?</label>
        </rules>
    </decisions>
    <description>Cloned from Initiate_eSign_Process | Changes added by Surag | BB-31422</description>
    <environments>Default</environments>
    <interviewLabel>Initiate eSign Process Nano {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initiate eSign Process Nano</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_Record</name>
        <label>Get current Record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Proceed_For_Esign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Esign_Consent</name>
        <label>Update Esign Consent</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Initiate_eSign_Process</targetReference>
        </connector>
        <inputReference>Get_current_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Esign_Consent_Screen</name>
        <label>Esign Consent Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Consent_to_true</targetReference>
        </connector>
        <fields>
            <name>Please_Take_the_Esign_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>Please provide the Esign Consent?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;h2&gt;&lt;strong style=&quot;color: rgb(237, 21, 21); font-size: 10px; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Without Esign Consent, Esign Process cannot be initiated.&lt;/strong&gt;&lt;/h2&gt;</errorMessage>
                <formulaExpression>{!Please_Take_the_Esign_Consent}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initiate_eSign_Process</name>
        <label>Initiate eSign Process</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InitiateEsignProcess</name>
            <extensionName>c:nanoInitiateEsignProcess</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherThanSalesPersona</name>
        <label>Other Than Sales Persona</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Stage_Validation_Message</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;font-size: 12px; color: rgb(228, 21, 21);&quot;&gt;Esign Can only be initiated by RE, Sales Manager or Sales Manager Plus Users&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_Validation_Screen</name>
        <label>Stage Validation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stage_Validation_Message</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;color: rgb(228, 21, 21); font-size: 12px;&quot;&gt;Esign Can only be initiated at &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(228, 21, 21);&quot;&gt;&apos;Pre-Disbursement&apos; &amp;amp; &apos;In-Progress&apos; stage substage&lt;/strong&gt;&lt;/h2&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
