force-app/main/default/flows/Nano_Loan_Application_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_IPA_ELK_Integrations</name>
        <label>Validate_IPA_ELK_Integrations</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <actionName>AxisNanoIPAELKValidator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Owner_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>loanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AxisNanoIPAELKValidator</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Owner_Check</name>
        <label>Owner Check</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed_for_Approval_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_decision_stage_Check</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.axisltd_Sub_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In-Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Nano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Validation_Screen</targetReference>
            </connector>
            <label>Credit decision stage Check</label>
        </rules>
        <rules>
            <name>Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.axisltd_Has_Pending_Credit_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Validation_Screen</targetReference>
            </connector>
            <label>Pending Approval</label>
        </rules>
        <rules>
            <name>IPA_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IPA_CheckList_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPA_Validation_Screen</targetReference>
            </connector>
            <label>IPA Check</label>
        </rules>
        <rules>
            <name>IPA_ELK_Validation_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_IPA_ELK_Integrations.isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPA_ELK_Validation_Screen</targetReference>
            </connector>
            <label>IPA and ELK check</label>
        </rules>
        <rules>
            <name>Deviations_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDeviations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deviation_Validation_Screen</targetReference>
            </connector>
            <label>Deviations Check</label>
        </rules>
        <rules>
            <name>Check_Micro_LAP_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.axisltd_Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MICR_LAP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Property_Records.CERSAI_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Property_Records.Purchase_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CERSAI_Validation_Screen</targetReference>
            </connector>
            <label>Check Micro LAP Values</label>
        </rules>
        <rules>
            <name>Is_Nano_Owner</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_current_Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_NANO_LA_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Running_User_Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.axisltd_Has_Pending_Credit_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_current_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Decision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nano_AssignApproverFooter</targetReference>
            </connector>
            <label>Is Nano Owner</label>
        </rules>
    </decisions>
    <description>Added back validation for IPA and deviations , fixing cersai status</description>
    <environments>Default</environments>
    <interviewLabel>Nano Loan Application Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nano Loan Application Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_current_Record</name>
        <label>Get current Record</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Running_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IPA_CheckList_Record</name>
        <label>Get IPA CheckList Record</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Property_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>axisltd_Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>axisltd_Parent_Checklist__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>axisltd_Parent_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>axisltd_Functional_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>axisltd_Master_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nano IPA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>axisltd_Integration_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_NANO_LA_Record_Type</name>
        <label>get NANO LA Record Type</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getDeviations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResidentialLoanApplication</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>axisltd_Nano</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Personal_Discussion_record</name>
        <label>Get Personal Discussion record</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IPA_CheckList_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>axisltd_Loan_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Personal_Discussion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Records</name>
        <label>Get Property Records</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_IPA_ELK_Integrations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationProperty</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User_Record</name>
        <label>Get Running User Record</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_NANO_LA_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDeviations</name>
        <label>getDeviations</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Personal_Discussion_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>axisltd_Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deviation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approval_Validation_Screen</name>
        <label>Approval Validation Screen</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DeviationValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 17, 17);&quot;&gt;Record cannot be sent for approval as the record is already in Approval Process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CERSAI_Validation_Screen</name>
        <label>CERSAI Validation Screen</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CERSAI_ERROR_MESSAGE</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 17, 17);&quot;&gt;Please perform CERSAI check and capture CERSAI status and date of Cersai check on the property record prior to initiating approval process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deviation_Validation_Screen</name>
        <label>Deviation Validation Screen</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_StageValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 17, 17);&quot;&gt;At least one deviation should be present before submitting for approval. Please create a manual deviation and proceed to Submit for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IPA_ELK_Validation_Screen</name>
        <label>IPA and ELK Validation Screen</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IPA_ELK_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 2, 2);&quot;&gt;{!Validate_IPA_ELK_Integrations.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IPA_Validation_Screen</name>
        <label>IPA Validation Screen</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_DeviationValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 17, 17);&quot;&gt;IPA needs to be triggered successfully before submitting for approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nano_AssignApproverFooter</name>
        <label>Nano AssignApproverFooter</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NanoAssignApproverForDeviation</name>
            <extensionName>c:nanoAssignApproverForDeviation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_for_Approval_Screen</name>
        <label>Not Allowed for Approval Screen</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotOwnerValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(222, 19, 19);&quot;&gt;Record cannot be sent for approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Stage_Validation_Screen</name>
        <label>Stage Validation Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StageValidation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 21, 21);&quot;&gt;Assign Approver is only applicable when Stage is &apos;&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 21, 21); background-color: rgb(255, 255, 255);&quot;&gt;Credit Decision&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 21, 21);&quot;&gt;&apos; &amp;amp; Substage is &apos;&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 21, 21); background-color: rgb(255, 255, 255);&quot;&gt;In-Review&lt;/span&gt;&lt;span style=&quot;color: rgb(228, 21, 21);&quot;&gt;&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
