force-app/main/default/flows/Nano_Change_Loan_Application_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are already the owner of this application.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pool_Error</name>
        <label>Assign Pool Error</label>
        <locationX>2338</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can only release  loan applications assigned to you.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Self_Assignments</name>
        <label>Assign to Self Assignments</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>OwnerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The loan application is successfully assigned to you.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Loan_Application_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Allowed_to_release_to_Pool_Error_assign</name>
        <label>Not Allowed to release to Pool Error assign</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are not allowed to release the loan application back to pool.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pool_Assignments</name>
        <label>Pool Assignments</label>
        <locationX>2734</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OwnerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The loan application is successfully release back to the pool.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loan_Application_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_assign_assignments</name>
        <label>Re-assign assignments</label>
        <locationX>4714</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OwnerRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_LA_for_CA_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reason_Error_Assign</name>
        <label>Reason Error Assign</label>
        <locationX>3394</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Selection and Re-assign reason are Mandatory fields for Re-assignment. ﻿</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reason_Error_Assign_Same_RAC</name>
        <label>Reason Error Assign Same RAC</label>
        <locationX>3834</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are not Allowed to Assign Application To This User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Error_assignment</name>
        <label>Reassign Error assignment</label>
        <locationX>3130</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User Selection and Re-assign reason are Mandatory fields for Re-assignment. ﻿</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Self_Assign_Error</name>
        <label>Self Assign Error</label>
        <locationX>897</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are not Allowed to Assign Application To Self</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Self_To_Other_User_Reassign</name>
        <label>Self To Other User Reassign</label>
        <locationX>4648</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are not allowed to assign Loan Application to the Selected User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error_message</name>
        <label>set error message</label>
        <locationX>5418</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Freecharge user can assign the loan to freecharge users and not other users</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_the_screen_message</name>
        <label>Show the screen message</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>screenmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are not allowed to+ assign Loan Application to the Selected User</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Assign</name>
        <choiceText>Assign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign_Loan_Application_to_self</name>
        <choiceText>Assign Loan Application to self</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign Loan Application to self</stringValue>
        </value>
    </choices>
    <choices>
        <name>Re_Assign</name>
        <choiceText>Re-Assign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassign_loan_application_to_other_user</name>
        <choiceText>Re-assign loan application to other user</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign loan application to other user</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release</name>
        <choiceText>Release</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Release_to_Pool</name>
        <choiceText>Release to Pool</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Release to Pool</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assigned_To_Check</name>
        <label>Assigned To Check</label>
        <locationX>2404</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_allowed_to_release_to_pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQueueDeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Allowed_to_release_to_Pool_Error_assign</targetReference>
            </connector>
            <label>Not allowed to release to pool</label>
        </rules>
        <rules>
            <name>is_Not_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pool_Error</targetReference>
            </connector>
            <label>is Not Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Before_Screen_Validation</name>
        <label>Before Screen Validation</label>
        <locationX>2734</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Successfully_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenmessage</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Null Message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Current_User_permission</name>
        <label>Check Current User permission</label>
        <locationX>1933</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Loan_Application_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_CA_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Profiling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.axisltd_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening InProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Application_Record.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Screen_Error</targetReference>
            </connector>
            <label>Check if CA User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_belongs_to_Nano</name>
        <label>Check if belongs to Nano</label>
        <locationX>1480</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_LA_owner_CPC_map_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Belongs_to_Nano_and_same_RAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nano</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_map_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis RE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_the_screen_message</targetReference>
            </connector>
            <label>Belongs to Nano and same RAC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Loan_Application_Owner_is_User</name>
        <label>Check if Loan Application Owner is User</label>
        <locationX>897</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_CPC_map_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Application_Record.Owner:User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Already Owner</label>
        </rules>
        <rules>
            <name>Check_Profile_Allowed_for_Self_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsProfileAllowedForSelfAssign</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Assign_Error</targetReference>
            </connector>
            <label>Check Profile Allowed for Self Assign</label>
        </rules>
        <rules>
            <name>Check_Reverse_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsProfileAllowedForSelfAssign</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Profiling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.axisltd_Sub_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening InProgress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.axisltd_Decision_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REVERSE STAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Assign_Error</targetReference>
            </connector>
            <label>Check Reverse Stage</label>
        </rules>
        <rules>
            <name>check_CA_assign_self_from_UW_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_Underwriter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Assign_Error</targetReference>
            </connector>
            <label>check CA assign self from UW user</label>
        </rules>
        <rules>
            <name>Loan_Application_Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_Assign_Error</targetReference>
            </connector>
            <label>Loan Application Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPC_Assign_Decision</name>
        <label>CPC Assign Decision</label>
        <locationX>1678</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Self_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPC_Assign_Decision_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_map_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_map_Records.CPC__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Application_Record.Working_CPC__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LA_owner_CPC_map_Records.CPC__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CPC_map_Records.CPC__r.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen1</targetReference>
            </connector>
            <label>CPC Assign Decision check</label>
        </rules>
    </decisions>
    <decisions>
        <name>RACSameNotOwner</name>
        <label>RACSameNotOwner</label>
        <locationX>3966</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Re_assign_assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReassignError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Error_Assign_Same_RAC</targetReference>
            </connector>
            <label>ReassignError</label>
        </rules>
    </decisions>
    <decisions>
        <name>Radio_Selected_Decision</name>
        <label>Radio Selected Decision</label>
        <locationX>3817</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_To_Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Assign_Loan_Application_to_self</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Loan_Application_Owner_is_User</targetReference>
            </connector>
            <label>Assign To Self</label>
        </rules>
        <rules>
            <name>Release_To_Pool1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Release_to_Pool</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_To_Check</targetReference>
            </connector>
            <label>Release To Pool</label>
        </rules>
        <rules>
            <name>Re_Assign_to_other_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reassign_loan_application_to_other_user</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Re_assign_User_Record</targetReference>
            </connector>
            <label>Re-Assign to other User</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Validations</name>
        <label>User Validations</label>
        <locationX>4648</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Validation_Before_Owner_Reasign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Lookup_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Error_assignment</targetReference>
            </connector>
            <label>User Lookup Null</label>
        </rules>
        <rules>
            <name>Reason_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reassign_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_Error_Assign</targetReference>
            </connector>
            <label>Reason is Null</label>
        </rules>
        <rules>
            <name>Current_User_Under_Writer</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4) OR (5 AND 6 AND 7) )</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_Underwriter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_Underwriter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis RE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nano</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Before_Owner_Reasign1</targetReference>
            </connector>
            <label>Current User - (Under Writer  OR RE )</label>
        </rules>
        <rules>
            <name>Current_User_CA_Freecharge</name>
            <conditionLogic>1 AND (2 AND 3) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.PERSONA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.PERSONA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.PERSONA__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.PERSONA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_error_message</targetReference>
            </connector>
            <label>Current User - CA Freecharge</label>
        </rules>
        <rules>
            <name>Is_Not_CA_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Axis_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Is Not CA Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Before_Owner_Reasign</name>
        <label>Validation Before Owner Reasign</label>
        <locationX>6166</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Re_assign_assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Hierarchy</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ReassignSelectedUserLevel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Application_Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Loan_Application_Record.Owner:User.ManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Re_assign_assignments</targetReference>
            </connector>
            <label>Check User Hierarchy</label>
        </rules>
        <rules>
            <name>Current_User_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Current User Check</label>
        </rules>
        <rules>
            <name>Check_Self_To_Another_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Check Self To Another User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_Before_Owner_Reasign1</name>
        <label>Validation Before Owner Reasign</label>
        <locationX>4406</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Self_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserLookup.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Self Assignment</label>
        </rules>
        <rules>
            <name>Belong_to_Same_RAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RACSameNotOwner</targetReference>
            </connector>
            <label>Belong to Same RAC</label>
        </rules>
        <rules>
            <name>Not_Belong_to_Same_RAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Not Belong to Same RAC</label>
        </rules>
        <rules>
            <name>Assignment_the_loan_application_to_UW3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Re_assign_User_Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Loan_Application_Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>Assignment the loan application to UW3</label>
        </rules>
        <rules>
            <name>User_up_in_the_hierarchy_Belong_to_RAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ReassignSelectedUserLevel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_assign_assignments</targetReference>
            </connector>
            <label>User up in the hierarchy (Belong to RAC)</label>
        </rules>
        <rules>
            <name>User_up_in_the_hierarchy_Not_Belong_to_RAC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserLevel</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ReassignSelectedUserLevel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CPC_Mapping_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Self_To_Other_User_Reassign</targetReference>
            </connector>
            <label>User up in the hierarchy (Not Belong to RAC)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckResonFieldNull</name>
        <dataType>Boolean</dataType>
        <expression>{!Reassign_Reason} = &apos;a&apos;</expression>
    </formulas>
    <formulas>
        <name>CurrentUserLevel</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Get_Current_User.axisltd_User_Level__c},
 &apos;L0&apos;, 0,
 &apos;L1&apos;, 1,
 &apos;L2&apos;, 2,
 &apos;L3&apos;, 3,
 &apos;L4&apos;, 4,
 &apos;L5&apos;, 5,
 &apos;L6&apos;, 6,
 &apos;L7&apos;, 7,
&apos;L8&apos;, 8,
00

)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetQueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Current_User.Profile.Name},
 &apos;Axis_CA&apos;, &apos;Nano_CA_System_Queue&apos;, 
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>IsProfileAllowedForSelfAssign</name>
        <dataType>Number</dataType>
        <expression>CASE({!Get_Current_User.Profile.Name},
 &apos;Axis_CA&apos;, 1, 
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ReassignSelectedUserLevel</name>
        <dataType>Number</dataType>
        <expression>CASE(
{!Get_Re_assign_User_Record.axisltd_User_Level__c},
 &apos;L0&apos;, 0,
 &apos;L1&apos;, 1,
 &apos;L2&apos;, 2,
 &apos;L3&apos;, 3,
 &apos;L4&apos;, 4,
 &apos;L5&apos;, 5,
 &apos;L6&apos;, 6,
 &apos;L7&apos;, 7,
&apos;L8&apos;, 8,
00

)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Nano Change Loan Application Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nano Change Loan Application Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CPC_map_Records</name>
        <label>Get CPC map Records</label>
        <locationX>1480</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_belongs_to_Nano</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_Record.Working_CPC__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPCMapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CPC_Mapping_Record</name>
        <label>Get CPC Mapping Record</label>
        <locationX>4648</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Validations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_Record.Working_CPC__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPCMapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>1933</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Current_User_permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LA_owner_CPC_map_Records</name>
        <label>Get LA owner CPC map Records</label>
        <locationX>1678</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPC_Assign_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CPC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Loan_Application_Record.Working_CPC__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPCMapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Application_Record</name>
        <label>Get Loan Application Record</label>
        <locationX>1933</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>2734</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pool_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQueueDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Re_assign_User_Record</name>
        <label>Get Re-assign User Record</label>
        <locationX>4648</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CPC_Mapping_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LA_for_CA_Users</name>
        <label>Update LA for CA Users</label>
        <locationX>4714</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>axisltd_Sales_Comment__c</field>
            <value>
                <elementReference>Reassign_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loan_Application_Owner</name>
        <label>Update Loan Application Owner</label>
        <locationX>2734</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Before_Screen_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>ResidentialLoanApplication</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_Loan_Application_Owner</name>
        <label>Assign Loan Application Owner</label>
        <locationX>3817</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Radio_Selected_Decision</targetReference>
        </connector>
        <fields>
            <name>Assign_Button</name>
            <choiceReferences>Release_to_Pool</choiceReferences>
            <choiceReferences>Assign_Loan_Application_to_self</choiceReferences>
            <choiceReferences>Reassign_loan_application_to_other_user</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Assign</elementReference>
            </defaultValue>
            <fieldText>Assign To</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign Application To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assign_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reassign_loan_application_to_other_user</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reassign_Reason</name>
            <fieldText>Re-assign Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assign_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reassign_loan_application_to_other_user</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Assign</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Prevent Actions to CA user if he is not owner / Sub stage is not income Assessment</description>
        <name>CA_Screen_Error</name>
        <label>CA Screen Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Permission_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(238, 0, 0);&quot;&gt;You don&apos;t have necessary privileges to edit this record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>3817</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Loan_Application_Record</targetReference>
        </connector>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(211, 70, 70);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!screenmessage}&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen1</name>
        <label>Error Screen1</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;The loan application which is assigned to same RAC is not allowed to assign the loan application to You&lt;/strong&gt;&lt;span style=&quot;color: rgb(228, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Assigned</name>
        <label>Successfully Assigned</label>
        <locationX>2866</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(26, 157, 48);&quot;&gt;{!screenmessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1807</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Loan_Application_Record</targetReference>
        </connector>
    </start>
    <status>Inactive</status> 
    <variables>
        <name>OwnerRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screenmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
